@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-device-width: 480px) {
  h1{
    font-size-adjust: inherit;
  }
  h2{
    font-size-adjust: inherit;
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

#root{
  height: 100vh;
  width: 100vw;
  width: auto;
  background-color:white;
}

.App{
  display: flex;
  flex-direction:row;
  justify-content: center;
  height:100vh;
  /* background-color: rgb(75, 61, 61); */
  background-color: #343941;
  /* background-image: url('./Constellation_BG.png');
  background-size:1920px 1080px;
  background-repeat:no-repeat; */
}

body{
  overflow-y: hidden;
 
}

.bio{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #384949;
  /* #384949; */
  display: flex;
  height: 100vh;
  width:70%;
  box-shadow: 0px 0px 3px;
  color: rgba(0, 0, 0, 0.438);
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1000ms;
  padding: 10px;
}

.bio:hover{
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1000ms;
  box-shadow: 0px 0px 10px;
}

p{
  color: white;
  font-family: 'Poppins';
  font-weight: 100;
  padding: 2em 2.5em;
  text-align: center;
}

h1{
  text-align: center;
  justify-content: center;
}

h2{
  text-align: center;
}

img{
  box-shadow: 0 0 10px;
  width: 18vw;
  height: auto;
}

img:hover{
  box-shadow: 0 0 20px;
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1000ms;
  cursor:grab;
}

img:active{
  box-shadow: 0 0 20px;
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1000ms;
  width: 32vw;
  height: auto;
  cursor:grabbing;
}

.sliders{
  height: 80vh;
}

.slider{
  display:flex;
  flex-direction: column;
  height: 80vh;
  width: 54.63vw;
  position: absolute;
  bottom: 0;
  left: -27.5vw;
  /* background: #638C71; */
  align-content: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1000ms;
  box-shadow: 0 -0.5px 3px;
}

.slider button{
  outline: none;
  border: none;
  height: 4vh;
  width: 29.6vh;
  color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -4vh;
}

.slider button:hover{
  box-shadow: none;
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1000ms;
  text-shadow: 0 0 3px white;
}

.tabBody{
  color: white;
  font-family: 'Poppins';
  font-weight: 100;
  padding: 0% 10%;
  text-align: center;
}

/* .slider button:focus{
  top: 80vh;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1000ms;
} */

.socialHandles {
  height: 32px;
  width: auto;
  margin-right: 2vw;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 50%;
}

.socialHandles:hover{
  outline: none;
  box-shadow: 0 0 0;
  color: white;
  cursor:pointer;
  border-radius: 50%;
  height: 48px;
  width: auto;
  animation:cubic-bezier(0.165, 0.84, 0.44, 1)
}

.socialHandles:active{
  height: 32px;
  width: auto;
  outline: none;
  box-shadow: 0 0 0;
  color: white;
  cursor:default;
  border-radius: 50%;
}

li{
  list-style-type:none;
}



/* .socialHandles:hover:last-child{
  outline: none;
  box-shadow: 0 0 3px;
  color: white;
  cursor:default;
} */
